.App {
  text-align: center;
}

.container {
  width: 100%; 
  height: 100%;
  position: absolute;
  top:0px;
  left:0px;
  background: #181818;
  color:white;
  text-align: center;
  padding: 1vh 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'VG5000-Regular', 'Work-Sans', sans-serif;
}

.canvas-container {
  height: 50%;
}

nav {
  z-index: 12;
}
.container button {
  background: white;
  border-radius: 30px;
  width: 60px;
  height: 30px;
  color: black;
}

.react-html5-camera-photo>img, .react-html5-camera-photo>video {
  width: 90% !important;
  height: 100vh !important;
}



.labels {
  width: 90%;
  height: 50%;
  /* border: 1px solid black; */
  z-index: 123;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-family: 'VG5000-Regular', sans-serif;

  /* padding: 25% 0px; */
  /* border: 2px solid white; */
}

.shutter {
  display:block;
  position: fixed;
  bottom: 20px;
  height: 50px !important;
  width: 50px !important;
  color: transparent !important;
  border-radius: 50%;
  border: 8px solid rgb(142, 142, 142);
  transition: all .1s;
}

.shutter:hover {
  border: 5px solid rgb(142, 142, 142);

}
button:focus {outline:0;}

video {
  max-width: 90%;
  padding: 10px;
  max-height: 100%;
  border-radius: 10px !important;
}

.camera {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
}


.results-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
}
#photo-canvas {
  /* height: 50vh;
  padding: 5vw;
  width: 90%; */
  /* filter: blur(0.5px); */
  /* border-radius: px; */

}

@media screen and (min-width: 768px){
  #photo-canvas {
 margin: 5vw;
  
  }

  .label {
    /* max-width: 300px; */
    border:1px solid white;
    align-items: center !important;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.labels p {
  margin: 2px !important;
}
.object-label {
  font-size: calc(18px + 3vw);
}

.lower-label {
  font-size: calc(12px + 2vw);

}

.bottom {
  color:white;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: flex-end;
}

.bottom-button {
  color:white;
  font-size: large;
  margin: 20px 0px;
  
}
